In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [9]:
url = "https://ticker.finology.in/"
r = requests.get(url)
#print(r)
soup = BeautifulSoup(r.text,"lxml")

In [18]:
table = soup. find("table",class_ = "table table-sm table-hover screenertable")
headers = table.find_all("th")
titels = []
for i in  headers:
    title = i.text
    titels.append(title)
#print(company)


df = pd.DataFrame(columns = titels)
print(df)

Empty DataFrame
Columns: [Company, PriceRs., Day HighRs.]
Index: []

In [23]:
rows = table.find_all("tr")
#print(rows)

for i in rows[1:]:
    print(i.text)

TVS Motor

1170.15
1184.4



Glenmark Pharma

512
516.9



Dr. Reddy''s Lab

4909.35
4940



JBM Auto

813.75
818.9



Manappuram Finance

129.6
133.95



Dalmia Bharat

2052.5
2078



Polycab India

3138.85
3159.9



Zydus Lifesciences

517.1
519.4



Axita Cotton

71.45
71.7



Aptech

451.35
455



Som Distilleries

171.2
172.9



NCC

109.4
112



Titagarh Wagons

300.35
305.2



KSolves India

607.05
623.65



Surya Roshni

768.6
782.4

In [31]:
rows = table.find_all("tr")
#print(rows)

for i in rows[1:]:
    data = i.find_all("td")
    #print(data)
    row = [tr.text for tr in data]
    #print(row)
    l = len(df)
    df.loc[l] = row
print(df)

                   Company PriceRs. Day HighRs.
0            \nTVS Motor\n  1170.15      1184.4
1      \nGlenmark Pharma\n      512       516.9
2     \nDr. Reddy''s Lab\n  4909.35        4940
3             \nJBM Auto\n   813.75       818.9
4   \nManappuram Finance\n    129.6      133.95
5        \nDalmia Bharat\n   2052.5        2078
6        \nPolycab India\n  3138.85      3159.9
7   \nZydus Lifesciences\n    517.1       519.4
8         \nAxita Cotton\n    71.45        71.7
9               \nAptech\n   451.35         455
10    \nSom Distilleries\n    171.2       172.9
11                 \nNCC\n    109.4         112
12     \nTitagarh Wagons\n   300.35       305.2
13       \nKSolves India\n   607.05      623.65
14        \nSurya Roshni\n    768.6       782.4
15           \nTVS Motor\n  1170.15      1184.4
16     \nGlenmark Pharma\n      512       516.9
17    \nDr. Reddy''s Lab\n  4909.35        4940
18            \nJBM Auto\n   813.75       818.9
19  \nManappuram Finance\n    129.6      133.95
20       \nDalmia Bharat\n   2052.5        2078
21       \nPolycab India\n  3138.85      3159.9
22  \nZydus Lifesciences\n    517.1       519.4
23        \nAxita Cotton\n    71.45        71.7
24              \nAptech\n   451.35         455
25    \nSom Distilleries\n    171.2       172.9
26                 \nNCC\n    109.4         112
27     \nTitagarh Wagons\n   300.35       305.2
28       \nKSolves India\n   607.05      623.65
29        \nSurya Roshni\n    768.6       782.4

In [32]:
df.to_csv("stock_market_data.csv")