# TATA IPL Auction - 2022

### Top buys from TATA IPL Player Auction 2022

#### 204 players were sold and INR 5,51,70,00,000 was splurged amongst the ten franchises during the two-day TATA Indian Premier League (IPL) 2022 Auction in Bengaluru. Young Indian cricketers dominated the proceedings at the auction, with Ishan Kishan attracting the topmost bid of INR 15.25 Crore which saw him return to MI. Meanwhile, Deepak Chahar, who returned to CSK for INR 14 Crore, became the most expensive Indian pace bowler to be ever bought at the IPL Auction. KKR broke the bank for Shreyas Iyer and bought the stylish right-handed batter for INR 12.25 Crore. Liam Livingstone, Wanindu Hasaranga, Nicholas Pooran, Shardul Thakur and Lockie Ferguson also made merry at the Auction while Avesh Khan became the most expensive uncapped player in the history of the IPL, with INR 10 Crore against his name, courtesy the new IPL entrant LSG. All and all, the ten franchises had two fruitful days at the mega auction and that sets up for a fascinating TATA IPL 2022. We can not wait!

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.iplt20.com/auction"
r = requests.get(url)
#print(r)
soup = BeautifulSoup(r.text,"lxml")

In [3]:
table = soup.find("table" , class_ = "ih-td-tab auction-tbl")
#print(table)
headers = table.find_all("th")
#print(headers)
titles = []
for i in headers:
    title = i.text
    titles.append(title)
#print(header)

df = pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [4]:
rows  = table.find_all("tr")

for i in rows[1:]:
    first_td = i.find_all("td")[0].find("div",class_ = "ih-pt-ic").text.strip()
  #  print(i.text)
    data = i.find_all("td")[1:]
    row = [tr.text for tr in data]
    row.insert(0,first_td)
    #print(row)
    l =len(df)
    df.loc[l] = row
print(df)

                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹1,50,00,000                 8            25
1               Delhi Capitals    ₹4,45,00,000                 8            25
2               Gujarat Titans    ₹4,45,00,000                 8            25
3        Kolkata Knight Riders    ₹1,65,00,000                 8            22
4         Lucknow Super Giants    ₹3,55,00,000                 8            25
5               Mumbai Indians       ₹5,00,000                 8            24
6                 Punjab Kings   ₹12,20,00,000                 7            22
7             Rajasthan Royals    ₹3,35,00,000                 8            25
8  Royal Challengers Bangalore    ₹1,75,00,000                 8            25
9          Sunrisers Hyderabad    ₹6,55,00,000                 8            25

In [6]:
df.to_csv("TATA_IPL_Auction_2022.csv")

In [7]:
dataset = pd.read_csv("C:\\Users\\hp\\OneDrive\\Desktop\\Python\\TATA_IPL_Auction_2022.csv")
dataset

,Unnamed: 0,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,0,Chennai Super Kings,"₹1,50,00,000",8,25
1,1,Delhi Capitals,"₹4,45,00,000",8,25
2,2,Gujarat Titans,"₹4,45,00,000",8,25
3,3,Kolkata Knight Riders,"₹1,65,00,000",8,22
4,4,Lucknow Super Giants,"₹3,55,00,000",8,25
5,5,Mumbai Indians,"₹5,00,000",8,24
6,6,Punjab Kings,"₹12,20,00,000",7,22
7,7,Rajasthan Royals,"₹3,35,00,000",8,25
8,8,Royal Challengers Bangalore,"₹1,75,00,000",8,25
9,9,Sunrisers Hyderabad,"₹6,55,00,000",8,25